.vscode/settings.json
Backup/.env
Backup/app.py
Backup/.vscode/settings.json
Backup/instance/kanban.db
Backup/old/app.py
Backup/old/.vscode/settings.json
Backup/old/instance/kanban.db
Backup/old/static/styles.css
Backup/old/templates/kanban.html
Backup/static/styles.css
Backup/templates/kanban.html
instance/kanban.db
instance/kanban.db-shm
instance/kanban.db-wal
instance/Backup/kanban.db
instance/Backup/kanban.db-shm
instance/Backup/kanban.db-wal


/uploads/

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Cache do ambiente virtual (se aplicável)
venv/
.env/
.virtualenv/

# Logs e arquivos temporários
*.log
*.tmp
*.swp