.vscode/settings.json
__pycache__/config.cpython-312.pyc
__pycache__/db.cpython-312.pyc
Backup/.env
Backup/app.py
Backup/.vscode/settings.json
Backup/instance/kanban.db
Backup/old/app.py
Backup/old/.vscode/settings.json
Backup/old/instance/kanban.db
Backup/old/static/styles.css
Backup/old/templates/kanban.html
Backup/static/styles.css
Backup/templates/kanban.html
instance/kanban.db
instance/kanban.db-shm
instance/kanban.db-wal
instance/Backup/kanban.db
instance/Backup/kanban.db-shm
instance/Backup/kanban.db-wal
routes/__pycache__/root.cpython-313.pyc
routes/__pycache__/root.cpython-313.pyc
flask_session/502928d9432ca77fa4a8428f26d8cd38
flask_session/502928d9432ca77fa4a8428f26d8cd38
flask_session/502928d9432ca77fa4a8428f26d8cd38
flask_session/97a0f74dcc36c02b9106c7331714e8bc
routes/__pycache__/root.cpython-313.pyc
